/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap';
@import './assets/styles/settings/_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $main-font-size;
  font-family: $main-font-family;
  font-weight: 400;
}
